<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Secure File Manager</title>
</head>
<body>
    <h1>Secure File Manager</h1>
    <div id="fileList">
        <ul>
            {% for file in files %}
            <li><a href="{{ url_for('serve_file', filename=file.path) }}" target="_blank">{{ file.path }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="actions">
        <input type="password" id="password" placeholder="Enter password" />
        <button id="encryptButton">Encrypt Files</button>
        <button id="decryptButton">Decrypt Files</button>
    </div>
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close-button" id="closeButton">&times;</span>
            <pre id="modalMessage"></pre>
        </div>
    </div>
 
    <script src="/static/js/script.js"></script>
</body>
</html>
